@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --body-color: #ffffff;
  --color-footer: #2f303a;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --header-line: #ececec;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-color);
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*--------------------- Оформление формы модальном окне --------------------------*/
/*-------- Стилизация модального окна ----------*/
/* ---------Прячем заголовки-------------------------- */
/*-------- Стилизация главной страницы сайта ----------*/
/* Стилизация навигации сайта */
/*-------- Стилизация блока чем мы занимаемся ----------*/
/*----------------- Стилизация чем мы занимаемся ------------------*/
/* ---------Секция наши клиенты-------------------------- */
/*----------------- Стилизация заголовка р ------------------*/
.section-privilege p,
.team p {
  color: var(--primary-text-color);
}

/*---------------------- Стилизация привилегии -----------------*/
.section-privilege {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-privilege {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-privilege__tittle {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-privilege__tittle {
    text-align: left;
  }
}

.section-privilege p {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-privilege p {
    text-align: left;
  }
}

.section-privilege__div {
  height: 120px;
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-privilege__icon {
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .section-privilege__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-privilege__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

/*---------------------- Стилизация блока команда --------------------*/
/*------------------- Стилизация кнопок портфолио ---------------------*/
/*------------------ Стилизация секции портфолио ---------------------*/
/*--------------------- Стилизация футера --------------------------*/
/*--------------------- Оформление формы в футере --------------------------*/
/*# sourceMappingURL=main.css.map */