/*----------------- Стилизация заголовка р ------------------*/

.section-privilege p,
.team p {
  color: var(--primary-text-color);
}

/*---------------------- Стилизация привилегии -----------------*/

.section-privilege {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-privilege__tittle {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  margin-top: 30px;
}

.section-privilege p {
  font-size: 14px;
  line-height: 1.71;
}

.section-privilege__div {
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-privilege__icon {
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
