/*---------------------- Стилизация блока команда --------------------*/

.container__title {
  margin-bottom: 50px;
}

.team {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team h2 {
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

.team p {
  font-size: 16px;
  line-height: 1.19;
}

.team-list {
  display: flex;
}

.team-list__li {
  margin-right: 30px;
  background-color: var(--body-color);
  box-shadow: 0px, 1px, 3px, rgba(0, 0, 0, 0.12), 0px, 1px, 1px, rgba(0, 0, 0, 0.14), 0px, 2px, 1px,
    rgba(0, 0, 0, 0.2);
  border-radius: 0px, 0px, 4px, 4px;
}
